body {
  font-family: Roboto, sans-serif, raleway;
  background-color:white;
}
h3 {
   
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
}
p> h3 {font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  
  color: #757575;
}  
button {
  font-weight: 500;
  cursor: pointer;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  background-color: blue;
  color: white;
}
header {
  text-decoration: none;
}
  
footer {
  background-color: #2F303A;
}

  .h1 {
    background-color: #2F303A;
font-family: roboto;
text-align: center;
color: #FFFFFF;
  }
  .team
  {
    background-color: #F5F4FA;;
  }
  .logo{
    color: black;
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 31px;
text-decoration: none;
  }
  .logo::first-letter{
    color: #2196F3;
    --secondary-logo-color: #AFB1B8;
  }
  .menu {
    color: black;
    text-decoration: none;
  }
  .menu :hover {
      background-color: black;
      color: white;
  }
  .menu:focus {
    color: #2196F3;
  }

