body {
  font-family: Roboto, sans-serif, raleway;
  background-color: white;
}
li {
  list-style-type: none;
}
h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}
p > h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;

  color: #757575;
}
button {
  font-weight: 500;
  cursor: pointer;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #F5F4FA;
  color: #212121;
}
button:hover{
  background-color: #2196F3;
}

footer {
  background-color: #2f303a;
}

.h1 {
  background-color: #2f303a;
  font-family: roboto;
  text-align: center;
  color: #ffffff;
}
.team {
  background-color: #f5f4fa;
}
.logo {
  color: black;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}
.logo::first-letter {
  color: #2196f3;
  --secondary-logo-color: #afb1b8;
}
.menu {
  color: black;
  text-decoration: none;
}
.menu:hover,
.menu:focus {
  color: #2196f3;
}

.active {
  color: #2196f3;
  
}
.adr {
  color: #757575;
  display: inline-flex;
  display: flex;
  justify-content: flex-end;
}
.adr:hover {
  color: #2196f3;
}
.l{
  color: #2196F3;
}
.actived {
  background-color: #2196F3;
  color: #FFFFFF;
}